<h3>{{ i18n "errataNotices" }}</h3>
{{ $errataCounter := 0 }}
{{ with .Site.Data.security.errata }}
  {{ $prevDate := false }}
  {{ range (sort .notices "date" "desc") }}
    {{ $currDate := dateFormat "2006-01" .date }}
    {{ if lt $errataCounter 8 }}
      {{ if ne $currDate $prevDate }}
        <h4
          class="feed-item-date txtdate"
          title="{{ dateFormat "02 Jan 2006" .date }}"
        >
          {{ $currDate }}
        </h4>
      {{ end }}
      <p class="feed-item">
        <a href="{{ printf "security/advisories/%s.asc" .name | relURL }}"
          >{{ .name }}</a
        >
      </p>
    {{ end }}
    {{ $errataCounter = add $errataCounter 1 }}
    {{ $prevDate = $currDate }}
  {{ end }}
{{ end }}
<div class="feed-source">
  <a href="{{ "security/notices/" | relLangURL }}">{{ i18n "more" }}</a>,
  <a href="{{ "security/feed.xml" | relURL }}">Feed</a>
</div>
